.grid-container{
    display: grid;
    border: 5px solid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3,1fr);
gap: 10px;
background-color: rgb(235, 229, 218);
padding: 18px;

}

.grid-container>div{
    text-align: center;
    padding: 20px 0;
    background-color: aqua;
    font-size: 25px;
    



}